<!DOCTYPE html>
<!--[if lt IE 9]><html lang="en" class="en oldIE"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="en"><!--<![endif]-->

<head>
	<title>Playedby.me / Welcome!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<%= stylesheet_link_tag 'application.css' %>
	<link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
</head>
  
<body class="body" onload="$('body').addClass('loaded')" bgcolor = "black">
	<div id="party" class="create">
  
  	<div class="new">
      <h1>Create a Party</h1>
  	</div>
    <div class="form">

      <div class="subtext">
        <h4>Step 1 of 2</h4>
      </div>
      <ul>
        <%= form_for @party do |f| %>
          <fieldset>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </fieldset>

          <fieldset>
            <%= f.label :user_id %>
            <%= f.text_field :user_id %>
          </fieldset>


          <%= f.submit "Let's get this party started!", class: "btn btn-large btn-primary" %>
        <% end %>

      </ul>
	</div>
	</div>
</body>
</html>

