
<div class="span6">
	<div id="spotify-play-button">
		<h1><%= @party.name %></h1>
		<iframe src="https://embed.spotify.com/?uri=spotify:trackset:<%="#{@party.name}:#{@party_tracks}"%>" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div>

<div class="span6">
	<div class="well" id="spotify-playlist">
		<h3> Playlist </h3>
		
		<div class="playlist">
			<table class='table table-striped'>
				<tbody class ="playlist-refresh">
					<% @songs.each_with_index do |s,i| %>
					<tr>
						<td>
							<%= "#{i+1}" %>
						</td>
						<td>
							<%= s.name %>
						</td>
						<td>
		  						<%= button_to "Delete", { :controller => "songs", :action => "destroy", :party_id => s.party_id, :name => s.name}, :confirm => "Delete this song?", :method => :delete %>

		  						<%= form_for [@song], :html => {:method => 'get'} do |f|%>

		  							<%= f.hidden_field :name, {:value => s.name} %><br>
		  							<%= f.hidden_field :party_id, {:value => s.party_id} %><br>
		 							<%= f.submit "Upvote", :class => "btn" %>
		 						<% end %><%= s.votes %>

		 						<%= form_for [@song], :html => {:method => 'get'} do |f|%>

		  							<%= f.hidden_field :name, {:value => s.name} %><br>
		  							<%= f.hidden_field :party_id, {:value => s.party_id} %><br>
		 							<%= f.submit "Downvote", :class => "btn" %>
		 						<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="span12">
	<div class="well" id="spotify">

		<h3>Add a Song</h3>
		<%= form_for [@song], :remote => true do |f| %>
		<%= f.text_field :name %><br>
		<%= f.hidden_field :party_id, {:value => @party.id} %>
		<%= f.submit "Search Songs",  :class => "btn btn-primary" %>
		<% end %>

		<div class="search">
		</div>

	</div>
</div>
