<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :code , :placeholder => 'Enter a Playlist Code...'%><br>
    <%= f.submit "Join Playlist", :class => "btn btn-primary"%>
<% end %>
</div>
</div>

<div class ="bgImage"><%= image_tag("dj.png") %></div>